<footer class="footer container-fluid">
	<div class="footer__top row">
		
		<div class="col-md-6 footer__top-left blue-overlay">
			<%= image_tag "footer_we.jpg"  , :class => "image" %>
			<div class="footer__top-content">
				<div class="footer__top-content-center">
					<a href="#" class="footer__top-content-link">Our Partners</a>	
				</div>
				<div class="footer__top-content-center footer__top-content-center--second">
					<a href="#" class="donate-btn">DONATE</a>
				</div>
			</div>
		</div>

		<div class="col-md-6 footer__top-right hidden-xs hidden-sm">
			<div class="container-fluid menu">
				<div class="row">
					<div class="col-md-6">
						<ul class="footer__top-right-menu1">
							<li class="footer__top-right-li" style="padding:0;">
								<h2 class="footer__top-right-title"><a href="#" class="footer__top-link footer__top-link--first">About Us</a><h2>
							</li>
							<li class="footer__top-right-li">
								<a href="#" class="footer__top-link">Annual Reports</a>
							</li>
							<li class="footer__top-right-li">
								<a href="#" class="footer__top-link">Contact</a>
							</li>
							<li class="footer__top-right-li">
								<a href="#" class="footer__top-link">Our team</a>
							</li>
						</ul>		
					</div>
					<div class="col-md-6">
						<ul class="footer__top-right-menu2">
							<li class="footer__top-right-li" style="padding:0;">
								<h2 class="footer__top-right-title"><a href="#" class="footer__top-link footer__top-link--first">News and Events</a></h2>
							</li>
							<li class="footer__top-right-li">
								<a href="#" class="footer__top-link">News and Articals</a>
							</li>
							<li class="footer__top-right-li">
								<a href="#" class="footer__top-link">Events</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="footer__social-network">
						<a href="https://www.facebook.com/Prakruti-Charitable-Society-204409023092980/timeline/" class="social-icons"><i class="fa fa-facebook"></i></a>
						<a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-icons"><i class="fa fa-linkedin"></i></a>
						<a href="#" class="social-icons"><i class="fa fa-google-plus"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__bottom">
		<div class="row footer__bottom-inner">
			<div class="col-md-3 col-xs-12 footer__bottom-left">
				<a href="#" class="footer__bottom-touch">KEEP IN TOUCH</a>
			</div>
			<div class="col-md-9 col-xs-12 footer__bottom-right">
				<div class="footer__bottom-right-link">
					<a href="#" class="footer__bootom-link">Privacy Policy</a>
					<a href="#" class="footer__bootom-link">Terms of Use</a>
				</div>
				<div class="footer__bottom-copyright"> © ONE DROP<sup>TM</sup>. All rights reserved. 550 Beaumont, Suite 400, Montreal (QC) H3N 1V1</div>
			</div>
		</div>
	</div>
</footer>