<header class="header">
	<div class="header-content">
		<div class="header__logo">
			<a href="#" class="logo">LOGO</a>
		</div>
		<nav class="nav">
			<ul class="nav-ul">
				<li class="nav-li">
					<a href="#" class="nav-link">What We Do</a>
				</li>
				<li class="nav-li">
					<a href="#" class="nav-link">Projects</a>
				</li>
				<li class="nav-li">
					<a href="#" class="nav-link">Doners</a>
				</li>
			</ul>
		</nav>
		<nav class="header__donate">
			<ul class="nav-ul">
				<li class="nav-li">
					<a class="donate-btn">DONATE</a>
				</li>
				<li class="nav-li nav-li--menu_btn">
					<a class="header__menu-btn" id="menu_btn"><i class="fa fa-bars"></i></a>
					<!-- Main menu nav -->
					<nav class="right-nav">
						<div class="right-menu__li">
							<h3 class="right-menu__title-link"><a href="#" class="right-menu__link">How we Do</a></h3>
							<ul class="right-menu__nav-nav">
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Our Vision</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Our Apporch</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Results and Impect</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Why Women Empowerment</a></li>
							</ul>
						</div>
						<div class="right-menu__li">
							<h3 class="right-menu__title-link"><a href="#" class="right-menu__link">Projects</a></h3>
						</div>
						<div class="right-menu__li">
							<h3 class="right-menu__title-link"><a href="#" class="right-menu__link">Partners and Doners</a></h3>
							<ul class="right-menu__nav-nav">
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Our Partners</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Our Doners</a></li>
							</ul>
						</div>
						<div class="right-menu__li">
							<h3 class="right-menu__title-link"><a href="#" class="right-menu__link">News and Events</a></h3>
						</div>
						<div class="right-menu__li">
							<h3 class="right-menu__title-link"><a href="#" class="right-menu__link">About US</a></h3>
							<ul class="right-menu__nav-nav">
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Oraganization</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Annual Reports</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Team</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Join Us</a></li>
								<li class="right-menu__nav-li"><a href="#" class="right-menu__nav-link">Contact</a></li>
							</ul>
						</div>
					</nav>
				</li>
			</ul>
		</nav>
	</div>
</header>